@charset "UTF-8";
/* CSS Document */

.iax-content {min-height: 0px !important; margin-bottom:0 !important;}
.phoneWrapper{
		position:absolute;
		top:0%;
		left:50%;
		transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		margin: 50px 0 0 1px;
	}
    .phoneWrapper img{
        max-width:none;   
    }
	.phoneWrapper .screenshot{
		position: absolute;
		top: 117px;
		left: 36px;	
	}
	.header{
		position: absolute;
		top: 0%;
		left: 50%;
		transform: translateX(-50%);
		width:320px;
		height:63px;
		z-index: 30;
		margin: 169px 0 0 2px;
		background:rgba(0,0,0,0.8);	
		transition:height 0.5s;
	}
		.header.inApp{
			display:none;
		}
		.header.minimize{
			height:40px;	
		}
		.header .infoBar{
			position:absolute;
			top:2px;	
		}
		.header .urlBar{
			position: absolute;
			top: 23px;
			left: 9px;
			width: 302px;
			height: 30px;
			transform:scale(1);
			transition: transform 0.5s, top 0.5s;
		}
			.header.minimize .urlBar{
				transform:scale(0.7);
				top:11px;
			}
			.header .backgroundColor{
				position: absolute;
				width:100%;
				height:100%;
				border-radius: 6px;
				background: rgba(255,255,255,0.3);	
				transition: background 0.5s;	
			}
				.header.minimize .backgroundColor{
					background:rgba(255,255,255,0);	
				}
			.header .urlBar .textOnly{
				position: absolute;
				top: 8px;
				left: 7px;
				opacity:1;
				transition:opacity 0.5s;	
			}
				.header.minimize .urlBar .textOnly{
					opacity:0;	
				}
			.header .urlBar .refresh{
				position: absolute;
				top: 5px;
				right: 6px;
				opacity:1;
				transition:opacity 0.5s;
			}
				.header.minimize .urlBar .refresh{
					opacity:0;	
				}
			.header .urlBar .url{
				display: block;
				margin-top: 8px;
				font-family: 'HelveticaNeueLT Std Lt', Helvetica, Arial, sans-serif;
				font-size: 17px;
				color: white;
				text-align: center;
				font-weight: 300;
				letter-spacing: 0.02em;
			}
	.footer{
		position: absolute;
		top: 0%;
		left: 50%;
		z-index: 30;
		transform: translateX(-50%);
		margin: 694px 0 0 2px;
		overflow:hidden;
	}
		.footer.inApp{
			display:none;
		}
		.footer .footerInner{
			position:relative;
			top:0;
		}
	.alertBox{
		display:none;
	}
	.carousel{
		position:absolute;
		top:0%;
		left:50%;
		transform:translateX(-50%);
		-webkit-transform:translateX(-50%);
		-ms-transform:translateX(-50%);
		-moz-transform:translateX(-50%);
		width:320px;
		height:518px;
		/*overflow:hidden;*/
		border:0;
		margin:69px 0 0 2px;
		z-index:20;	
		padding:100px;
		background:none;
		box-shadow:none;
		transition:height 0.5s, margin-top:0.5s;
	}
		.carousel.scroll:not(.inApp){
			height:528px;
			margin-top:59px;	
		}
		.carousel.inApp{
			height:568px;
			margin-top:19px;	
		}
            .carousel.inApp .slides{
                background:#222;   
            }
		.carousel #bigbox{
			position:absolute;
			top:140px;
			left:50%;
			transform:translateX(-50%);
			-webkit-transform:translateX(-50%);
			-ms-transform:translateX(-50%);
			-moz-transform:translateX(-50%);	
			width:320px;
			min-height:50px;	
		}
		.carousel .slides{
			height:100%;	
		}
		.slides li{
			overflow:auto;
			-webkit-overflow-scrolling: touch;
			height:100%;	
			box-sizing:border-box;
			padding-top:13px;	
		}
			.carousel.inApp .slides li{
				padding-top:0px;
			}
	.flex-viewport{
		height:100%;	
	}	
	.flex-control-paging{
		bottom: -50px;
		margin-left: -100px;
	}
	.flex-direction-nav .flex-disabled{
		display:none;	
	}
	.flex-direction-nav .flex-prev {
		left:0px;	
		height: 60px;
	}
		.flex-direction-nav .flex-prev:before{
			content:url(../../img/mobilePreview/arrow_back.svg);	
		}
	.flex-direction-nav .flex-next {
		right:0px;
		height: 60px;
		opacity:1;	
	}
		.flex-direction-nav a.flex-next:before{
			content:url(../../img/mobilePreview/arrow_next.svg);	
		}
	.flexslider:hover .flex-next{
		right:0px;	
	}
	.flexslider:hover .flex-prev{
		left:0px;	
	}
	@media all and (max-width: 600px){
		.phoneWrapper, .header, .footer{
			display:none;	
		}
		.flex-direction-nav, .flex-control-nav, .flex-pauseplay{
			display:none;	
		}
		.flex-control-paging{
			display:block;
			width: 100%;
			bottom: auto;
			top: 0;
			background: rgba(0,0,0,0.6);
			margin-left: 0;
		}
			.flex-control-paging li{
				margin: 8px 4px;
			}
			.flex-control-paging li a{
				background: rgba(255,255,255,0.5);
				width:7px;
				height:7px;
			}
			.flex-control-paging li a.flex-active {
				background: white;
			}
		.carousel{
			top:0;
			/*border:solid 1px #999;*/
			margin-bottom:0 !important;
			padding:0;	
			border-radius:0px;
			transform:translate(-50%,0%);
			-webkit-transform:translate(-50%,0%);
			-ms-transform:translate(-50%,0%);
			-moz-transform:translate(-50%,0%);	
			margin-top:0;
            margin-left:0;
		}
        .flex-viewport{
            padding-top: 23px;   
        }
        .carousel, .flex-viewport, .slides, .slides li{
            height:auto;
            overflow:visible;
        }
		.slides li{
			
			padding-top:0;	
		}
		.alertBox{
			/*display:block;*/
			position:fixed;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:rgba(0,0,0,0.5);
			font-family: 'HelveticaNeueLT Std Med', Helvetica, Arial, sans-serif;
			font-weight:300;
			z-index:100;	
		}
			.alertBox .innerAlert{
				position:absolute;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				-webkit-transform:translate(-50%,-50%);
				-ms-transform:translate(-50%,-50%);
				-moz-transform:translate(-50%,-50%);
				background:#dededf;
				border-radius:8px;
				text-align:center;
				width:270px;
			}
				.alertBox .innerAlert h3{
					font-size:18px;
					letter-spacing:-0.02em;
				}
				.alertBox .innerAlert p{
					box-sizing:border-box;
					padding:0 35px;
					font-size:14px;	
					letter-spacing:0.02em;
					font-family: 'HelveticaNeueLT Std', Helvetica, Arial, sans-serif;
				}
					.alertBox .innerAlert img{
						position:absolute;
						top:63px;
						left:15px;	
					}
						.alertBox .innerAlert img:last-of-type{
							left:240px;	
						}
				.alertBox .innerAlert button{
					-webkit-appearance:none;
					width:100%;
					background:none;
					border:0;
					outline:0;
					border-top:solid 1px #c6c6c6;
					padding:10px 0;
					color:#0077f7;
					font-size:17px;	
					margin:0;
				}
					.alertBox .innerAlert button:last-of-type{
						font-weight:600;
						font-size:16px;
						padding:12px 0;
					}
	}

@font-face {
  font-family: 'HelveticaNeueLT Std';
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/regular/HelveticaNeueLTStd-Roman.eot'); /* IE9 Compat Modes */
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/regular/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/regular/HelveticaNeueLTStd-Roman.woff') format('woff'), /* Modern Browsers */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/regular/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/regular/HelveticaNeueLTStd-Roman.svg#06ce8507218b5fc98ef98a8271373604') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
	
@font-face {
  font-family: 'HelveticaNeueLT Std Lt';
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.eot'); /* IE9 Compat Modes */
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.woff') format('woff'), /* Modern Browsers */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.svg#ab53f55f9c010d958855493bf21fef17') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'HelveticaNeueLT Std Med';
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/medium/HelveticaNeueLTStd-Md.eot'); /* IE9 Compat Modes */
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/medium/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/medium/HelveticaNeueLTStd-Md.woff') format('woff'), /* Modern Browsers */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/medium/HelveticaNeueLTStd-Md.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/medium/HelveticaNeueLTStd-Md.svg#297525cf3c6ba1ff86516c4aa7d9abf5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
