/* CSS Document */
html, body {
  height: 100%; }

/*body{
    background:white !important;
    margin:0 !important;
}
body > #header, body > #footer{
    display:none;
}
body > .container.iax-content{
    width:100%;
    height:100%;
    min-width:100%;
    max-width:0;
    overflow: visible;
    background:none;
}*/
.mobileAlert {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: 230px;
  padding: 10px 20px 10px 0;
  font-size: 18px;
  z-index: 1000;
  width: 240px;
  /*&:before{
      content:"";
      position: relative;
      top: 6px;
      left: 50%;
      margin-left: -242px;
      transform: scale(1.2);
      width:15px;
      height:15px;
      background: url(../../img/glyphicons-halflings-white.png);
      background-position: 0px 40px;
  }*/ }

.phoneWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 1px; }

.phoneWrapper img {
  max-width: none; }

.mobilePreview > .header {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 320px;
  height: 63px;
  z-index: 30;
  margin: -281px 0 0 2px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: height 0.5s;
  transition: height 0.5s; }
  .mobilePreview > .header.inApp {
    display: none; }
  .mobilePreview > .header .backgroundColor {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: background 0.5s;
    transition: background 0.5s; }
  .mobilePreview > .header .infoBar {
    position: absolute;
    top: 2px; }
  .mobilePreview > .header .urlBar {
    position: absolute;
    top: 23px;
    left: 9px;
    width: 302px;
    height: 30px;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: top 0.5s, -webkit-transform 0.5s;
    transition: top 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, top 0.5s;
    transition: transform 0.5s, top 0.5s, -webkit-transform 0.5s; }
    .mobilePreview > .header .urlBar .textOnly {
      position: absolute;
      top: 8px;
      left: 7px;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .mobilePreview > .header .urlBar .refresh {
      position: absolute;
      top: 5px;
      right: 6px;
      opacity: 1;
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s; }
    .mobilePreview > .header .urlBar .url {
      display: block;
      margin-top: 8px;
      font-family: 'HelveticaNeueLT Std Lt', Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: white;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.02em; }
  .mobilePreview > .header.minimize {
    height: 40px; }
    .mobilePreview > .header.minimize .urlBar {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
      top: 11px; }
      .mobilePreview > .header.minimize .urlBar .textOnly, .mobilePreview > .header.minimize .urlBar .refresh {
        opacity: 0; }
    .mobilePreview > .header.minimize .backgroundColor {
      background: rgba(255, 255, 255, 0); }

.mobilePreview > .footer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 30;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 243px 0 0 2px;
  overflow: hidden; }
  .mobilePreview > .footer.inApp {
    display: none; }
  .mobilePreview > .footer .footerInner {
    position: relative;
    top: 0; }

.pageContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  /*height: 526px;*/
  height: 505px;
  margin: -218px 0 0 -158px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transition: margin-top 0.5s, height 0.5s;
  transition: margin-top 0.5s, height 0.5s;
  z-index: 10; }
  @media all and (min-width: 600px) {
    .pageContent.scroll {
      margin-top: -241px;
      height: 528px; } }

.pageContent::-webkit-scrollbar {
  display: none; }

@media all and (max-width: 600px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; }

  .phoneWrapper, .mobileAlert, .mobilePreview > .header, .mobilePreview > .footer {
    display: none; }

  .pageContent {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%; } }
@media all and (max-height: 750px) and (min-width: 601px) {
  .phoneWrapper {
    top: 50px;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); }

  .mobilePreview > .header {
    top: 169px;
    margin-top: 0; }

  .mobilePreview > .footer {
    top: 693px;
    margin-top: 0; }

  .pageContent {
    top: 232px;
    margin-top: 0; }
    .pageContent.scroll {
      margin-top: -23px; } }
/*
@font-face {
  font-family: 'HelveticaNeueLT Std Lt';
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.eot');
  src: url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.woff') format('woff'),
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.ttf')  format('truetype'),
       url('http://adimages.scrippsnetworks.com/iax/_SharedFiles/_FONTS/helveticaNeue/light/HelveticaNeueLTStd-Lt.svg#ab53f55f9c010d958855493bf21fef17') format('svg');

  font-style:   normal;
  font-weight:  400;
}
*/
