/* Scss Document */

/* vars */
$blue: #0079B7;
$darkerBlue: #006AA2;
$lightGray: #a6a6a6;
$darkGray: #333;
$red: #aa3131;

@mixin query($width){
	@media screen and (max-width: $width) {
		@content;
	}
}