.iax-admin-block {
	width: 100px;
	height: 100px;
	border-radius: 7px;
	text-align: center;
	margin: 20px 40px;
	display: inline-block;
}


.iax-admin-nav li a {
	line-height: 30px;
}
.iax-admin-nav li span{
	margin-left: 7px;
}


.iax-dash-wrap {
	display: table;
	width: 100%;
	color: #333;
	margin-bottom: 14px;
}

.iax-dash-info {
	width: 20%;
	display: table-cell;
}
.iax-dash-info .inner {
	height: 50px;
	padding: 15px;
	margin-right: 1em;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	color: #888;
	background: #FFF;
	border: 1px solid #CCC;
	border-radius: 5px;
	text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
.iax-dash-info span {
	display: block;
	margin-bottom: .4em;
	font-size: 32px;
	font-weight: 600;
	font-style: normal;
	color: #4A515B;
}

.iax-event-list li {
	font-size: 12px;
	font-style: italic;
	color: #666;
}
.iax-event-list li span{
	font-weight: bold;
	font-style: normal;
}