/* ==========================================================================
   CSS Portions. Convert to SASS
   ========================================================================== */
/*@import url('_partials/ui.css');
@import url('_partials/plugins.css');
@import url('_partials/pages.css');
@import url('_partials/typography.css');
@import url('_partials/notification.css');
@import url('_partials/pagination.css');
@import url('_partials/navigation.css');
@import url('_partials/tables.css');
@import url('_partials/forms.css');
@import url('_partials/footer.css');
*/


@import '_partials/ui';
@import '_partials/plugins';
@import '_partials/pages';
@import '_partials/typography';
@import '_partials/notification';
@import '_partials/pagination';
@import '_partials/navigation';
@import '_partials/tables';
@import '_partials/forms';
@import '_partials/footer';
@import 'vars';

/* stuff mike added as overides */

/* update styling on overview tab in project edit mode */
.span12{
	position:relative;
}
.iax-form .controls select{
	transition:color 0.5s, border-color 0.5s;
}
.iax-form .controls select.auto{
	color:#48b960;
	border-color:#48b960;
}
#iax-form-tab{
	position:relative;
}
#iax-creative-tab{
	form.controls{
		position:relative;
	}
}
.status{
    position:absolute;
    right:20px;
    top:18px;
	width: 90px;
	span{
		border: 1px solid #d5d5d5;
		height:10px;
		width: calc((100% / 3) - 2px);
		float: left;
		margin: 0 1px;
		padding: 0;
		box-sizing: border-box;
		&:first-of-type{
			-webkit-border-top-left-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
		&:last-of-type{
			-webkit-border-top-right-radius: 3px;
			-webkit-border-bottom-right-radius: 3px;
			-moz-border-radius-topright: 3px;
			-moz-border-radius-bottomright: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}
	}
	.statusText{
		margin:0;
		width: calc(100% - 2px);
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size:12px;
		color:#333;
		line-height: 19px;
	}
}
#iax-client-info-tab{
	margin-top:30px;
	.halfCol{
		width:calc(50% - 20px);
		margin-right:40px;
		margin-left:0;
		float:left;
		&:last-of-type{
			margin-right:0;
		}
		.span5{
			width:100%;
			float: none;
			margin: 0;
			.iax-form .controls select{
				width:100%;
			}
			.iax-form .controls input{
				width:100%;
				box-sizing: border-box;
				height: 30px;
			}
		}

	}
	.projectLinks{
		padding-left: 70px;
		margin-left: 30px;
		box-sizing: border-box;
		border-left: solid 1px #e3e3e3;
		width: calc(50% - 50px);
		span{
			display:block;
			width:100%;
		}
		.well{
			position:relative;
			height: 360px;
			margin-bottom: 0;

		}

	}
}
#iax-comp-upload-tab{
	.options{
		position: absolute;
		right: 0;
		margin-top: -35px;
		input[type='checkbox']{
			margin-top:0;
		}
	}
    .iax-image-item.hover{
        border: 3px dashed darken(#e3e3e3,10%);
    }
    .dropArea{
        border-radius:3px;
        border: dashed 2px #e3e3e3;
        padding: 30px;
        p{
            margin-bottom: 0px;
        }
        &.hover{
            border: 3px dashed darken(#e3e3e3,10%);
        }
    }
	// rounds
	.iax-image-holder{
		ul{
			list-style:none;
		}
		li{
			position:relative;
			border-bottom: solid 1px #e3e3e3;
			margin-bottom: 20px;
			//arrow
			.arrow{
				position:relative;
				top:-31px;
				float:right;
				width:20px;
				height:20px;
				&:before{
			        content:"";
			        position:absolute;
			        right:10px;
			        //top:3px;
			        width:20px;
			        height:20px;
			        border-radius: 50%;
			        background: #e3e3e3;
			    }
			    &:after{
			        content:"";
			        position:absolute;
					right: 16px;
				    top: 5px;
				    transform: rotate(135deg);
			        width:6px;
			        height:6px;
			        border-top:solid 2px white;
			        border-right:solid 2px white;
			        transition:all 0.5s;
			    }
			}

			&:not(.active) .iax-image-item{
				max-height:0;
				min-height:0;
				border:0;
				margin-bottom:0;
				overflow:hidden;
				padding-top:0;
				padding-bottom:0;
				transition: all 0.5s;
			}
			&.active{
				.arrow:after{
					transform: rotate(315deg);
					top:8px;
				}
				&  .iax-image-item{
					max-height: 200px;

				}
			}
			.viewRound{
				float:right;
				position: relative;
				top: -32px;
				left: -20px;
			}
		}
	}
}
.iax-image-item{
	position:relative;
}
.note{
	position:absolute;
	font-weight: bold;
    padding: 8px 15px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border: 1px solid #fbeed5;
	border-radius: 4px;
	&.float{
		position:relative;
		display:inline-block;
		vertical-align: top;
		&.nextToInput{
			padding-top: 4px;
			padding-bottom: 4px;
			margin-bottom: 0;
		}
	}
	/* position options */
	&.top.left{
		left:10px;
		top:10px;
	}
	&.top.right{
		right:10px;
		top:10px;
	}
	&.top.center{
		left:50%;
		top:0;
		transform:translateX(-50%);
	}
	&.center.left{
		left:10px;
		top:50%;
		transform:translateY(-50%);
	}
	&.center.right{
		right:10px;
		top:50%;
		transform:translateY(-50%);
	}
	/*
	&.center.center{
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
	}
	*/
	&.bottom.left{
		left:10px;
		bottom:10px;
	}
	&.bottom.right{
		right:10px;
		bottom:10px;
	}
	&.bottom.center{
		left:50%;
		bottom:10px;
		transform:translateX(-50%);
	}
	/* type options - matches IAX.Utiles.notify styles */
	&.success{
		color: #468847;
    	background-color: #DFF0D8;
    	border-color: #D6E9C6;
		&:before{
			content:"\2713";
			margin-right:10px;
		}
	}
	&.error{
		color: #B94A48;
    	background-color: #F2DEDE;
    	border-color: #EED3D7;
	}
}
/* flat comp image page */
.iax-image{
	position:relative;
}
.iax-image.dragArea{
	img{
		padding:0;
		border:0px;
		transition: padding 0.3s, border 0.3s;
	}
	&.hover img{
		padding:10px;
		border: 3px dashed darken(#e3e3e3,10%);
	}
}
.notesWrap{
	position:absolute;
	top:0;
	right:0;
	ul.notes{
		list-style:none;
	}
	a{
		display:inline-block;
	}
}

#SWFUpload_Console{
	display:none;
}

.navbar{
	margin:0;
	.navbar-inner{
		padding:0;
	}
	.container{
		position:relative;
		width:100%;
		padding: 0 30px;
		box-sizing: border-box;
		.mobileMenu{
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			.icon{
				position: absolute;
				right: 10px;
				top: 8px;
			}
			.account{
				display: block;
				position: absolute;
				right: 52px;
				background: #333;
			}
			.mobileDropdown{
				position: absolute;
				top: 42px;
				right: 0px;
				width: 100%;
				max-height:0;
				overflow:hidden;
				transition:max-height 0.5s;
				box-sizing:border-box;
				background:black;
				border-top:solid 1px #333;
				&.active{
					max-height:800px;
				}
				.navbar-search{
					padding:10px 30px;
					position:relative;
					float:none;
					width:100%;
					box-sizing:border-box;
					input{
						width: 100%;
						box-sizing: border-box;
						height: 40px;
					}
				}
				.iax-navbar-right{
					padding:10px 30px;
					ul{
						float:none;
						margin:0;
					}
					li{
						float:none;
						&:nth-of-type(2n){
							background:#191919;
						}
					}
				}
			}
		}
		.desktopLogo{
			width: 160px;
			margin-top: 0.2em;
		}
		.mobileLogo, .mobileMenu{
			display:none;
		}
		@include query(800px){
			.mobileLogo, .mobileMenu{
				display:block;
			}
			.desktopLogo, .desktopMenu{
				display:none;
			}
		}
		@include query(400px){
			padding:0 10px;
		}
	}
}

// multi-project preview page
.multiPreviewContainer, .row.previews{
    position:relative;
    box-sizing: border-box;
    padding: 0px 80px;
    background: rgba(226,226,226,0.3);
    box-shadow: inset 0px 2px 8px rgba(0,0,0,0.5);
    margin-bottom: 0px; //should be 0
    max-height: 0px;
    overflow:hidden;
    transition: margin-bottom 0.5s, max-height 1s, padding 0.5s;
    &.active{
        margin-bottom: 20px;
        max-height: 1000px;
        padding: 20px 80px 40px 80px;
    }
    .note{
        margin-bottom:30px;
    }
    .halfCol{
        width:calc(50% - 20px);
        box-sizing: border-box;
        float: left;
        &:nth-of-type(2n){
            margin-left:20px;
        }
    }
    .fullCol{
        width:100%;
        select{
            width: calc(100% - 20px);
            float: left;
        }
    }
    select, input{
        display:block;
        width:100%;
        box-sizing: border-box;
        height: 35px;
    }
    .item{
        width:100%;
        margin-bottom:10px;
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        .removeItem{
            position: relative;
            top: 6px;
            left: 6px;
            float:left;
            font-size:26px;
            color:black;
            transform:rotate(-45deg);
            cursor:pointer;
            &:hover{
                font-weight:bold;
            }
        }
    }
    .addRow{
        margin-top:10px;
    }
    .createPreview{
        position: absolute;
        right: 77px;
        bottom: 30px;
    }
}
.row.previews{
    max-height:80px;
    margin-bottom: 20px;
    padding: 20px 80px 40px 80px;
    transition:padding 0s, max-height 0.5s;
    &.expand{
        max-height:1000px;
        .row:first-of-type{
            margin-top:0px;
        }
    }
    h4{
        &:hover span{
            font-weight:700;
        }
        span{
            font-size: 12px;
            font-weight: 400;
            padding-left: 5px;
            position: relative;
            top: -1px;
            cursor:pointer;
        }
    }
    .row{
        position:relative;
        margin-left:0;
        padding:20px 0;
        border-bottom:solid 1px $lightGray;
        overflow:hidden;
        &:last-of-type{
            border-bottom: 0;
        }
        &:first-of-type{
            margin-top:100px;
            transition: margin-top 0.5s;
        }
        &:after {
          content: "";
          display: table;
          clear: both;
        }
        &:hover .iax-preview-delete{
            right:0;
        }
        span.previewNum{
            position:relative;
            display:inline-block;
            height:100%;
            float:left;
            margin-right: 15px;
        }
        p{
            float:left;
            margin-right: 20px;
            padding-right: 20px;
            border-right: solid 1px $lightGray;
            &:nth-last-of-type(2){
                border-right:0;
            }
            &.timestamp{
                position:absolute;
                right:0;
                font-size:12px;
                margin-right:0;
                padding-right:0;
                border-right:0;
            }
        }
        .iax-preview-delete{
            position: absolute;
            top: 0;
            right: -150px;
            height: 100%;
            background: #333;
            padding: 25px;
            color: white;
            box-sizing: border-box;
            transition:right 0.5s;
        }
    }
}
.filter{
    position: absolute;
    top:41px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0 15px;
    overflow:hidden;
    ul{
        list-style:none;
        text-align:center;
        margin:0;
        li{
            display:inline-block;
            margin:0 10px;
            &:first-of-type{
                margin-left:0px;
            }
            &:last-of-type{
                opacity:0.4;
            }
            select{
                width:452px;
                transition:border 0.5s, color 0.5s, background-color 0.5s;
                @include query(1200px){
                    width:336px;
                }
                &.active{
                    border: solid 1px rgba($blue, 0.5);
                    color: $blue;
                    background-color: rgba($blue, 0.15);
                }
            }
            span{
                font-weight: bold;
                margin-right:5px;
            }
        }
        form{
            margin:0;
        }
    }
    .errors{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100%;
        background: #ff3b2f;
        text-align: center;
        color: white;
        //font-weight: bold;
        font-size:20px;
        line-height: 63px;
        transition:top 0.5s;
        &.active{
            top:0px;
        }
    }
}
.filter + h4{
    margin-top:90px;
}

// overrides for notifications
.notifyjs-corner {
	top:42px !important;
  	left:0px !important;
  	width:100%;
  	margin: 0px !important;
	z-index:1020 !important;
  .notifyjs-wrapper, .notifyjs-container {
	  margin:0 !important;
  }
  .notifyjs-bootstrap-base{
	  padding-top:20px;
	  padding-bottom:20px;
	  font-size:18px !important;
	  border-radius:0;
	  background-image:none !important;
	  text-align: center;
	  border-bottom: solid 1px;
  }
  .notifyjs-bootstrap-success{

  }
}


//validation
.codeValidationArea{
	margin-top: 60px;
	margin-bottom: 150px;
	div + div{
		margin-top: 60px;
	}
}

.jsValidation, .cssValidation{
	display:none;
	position: relative;
	padding-top: 40px;
	&:before{
		position: absolute;
		top:0;
		left:0;
		font-weight: bold;
    	font-size: 16px;
	}
	&.show{
		display:block;
	}
}
.cssValidation{
	&:before{
		content: "CSS Validation";
	}
}
.jsValidation{
	&:before{
		content: "Javascript Validation";
	}
}

.validationMsg{
	position: relative;
	padding: 10px 20px 10px 40px;
	color: white;
	&:before{
		position: absolute;
	    left: 14px;
	    top: 50%;
	    font-size: 18px;
	    transform: translateY(-50%);
	}
	&.error{
		background: $red;
		&:before{
			content:"\f05a";
			font-family: FontAwesome;
		}
	}
	&.warning{
		background: $lightGray;
	}

	.file{
		display: block;
		font-size: 0.85em;
		opacity: 0.7;
	}
}
