/* ==========================================================================
   CSS Portions. Convert to SASS
   ========================================================================== */
/*@import url('_partials/ui.css');
@import url('_partials/plugins.css');
@import url('_partials/pages.css');
@import url('_partials/typography.css');
@import url('_partials/notification.css');
@import url('_partials/pagination.css');
@import url('_partials/navigation.css');
@import url('_partials/tables.css');
@import url('_partials/forms.css');
@import url('_partials/footer.css');
*/
/* Scss Document */
/* vars */
/* AJAX Loading*/
.iax-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center; }

.iax-loading-overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3; }

.iax-loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  z-index: 1001;
  color: #fff; }

.iax-loading p {
  font-size: 20px; }

.iax-editor-lock {
  float: right;
  height: 16px;
  width: 16px; }

.iax-code-wrap {
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 4px;
  -o-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 7px;
  transition: border linear .2s, box-shadow linear .2s; }

.iax-code-wrap .CodeMirror-wrap.locked {
  background-color: #f9f9f9; }

.iax-code-wrap .CodeMirror-wrap.locked:hover {
  cursor: not-allowed; }

.iax-code-wrap .CodeMirror-wrap.locked pre {
  opacity: .75; }

.iax-editor-controls {
  color: #999;
  font-size: 12px;
  font-style: italic;
  text-align: right; }

.iax-editor-controls .btn {
  height: 16px;
  margin-right: 4px;
  width: 16px; }

.iax-editor-msg {
  color: #aaa;
  font-size: 12px;
  margin-right: 7px;
  text-align: center; }

/*.iax-editor-msg.info {color:#0088cc; }*/
/*.iax-editor-msg.danger {color:#942a25; }*/
/*.iax-editor-msg.success {color:#408140; }*/
/*Dropzone*/
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dropzone {
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.08);
  padding: 1em;
  position: relative; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone .dz-message {
  -ms-filter: none;
  filter: none;
  opacity: 1; }

.dropzone.dz-drag-hover {
  background: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.15); }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #acacac;
  display: inline-block;
  margin: 17px;
  padding: 6px 6px 6px 6px;
  position: relative;
  vertical-align: top; }

.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none; }

.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  background: #ebebeb;
  height: 100px;
  margin-bottom: 22px;
  padding: 5px;
  position: relative;
  width: 100px; }

.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename {
  height: 100%;
  overflow: hidden; }

.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px; }

.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  bottom: -28px;
  height: 28px;
  left: 3px;
  line-height: 28px;
  position: absolute; }

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block; }

.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img {
  display: none; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  font-size: 30px;
  height: 40px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 40px; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d; }

.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  background: #d7d7d7;
  display: none;
  height: 6px;
  left: 6px;
  position: absolute;
  right: 6px;
  top: 100px; }

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  background-color: #8cc657;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%; }

.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  background: rgba(245, 245, 245, 0.8);
  color: #800;
  display: none;
  left: -20px;
  max-width: 500px;
  min-width: 140px;
  padding: 8px 10px;
  position: absolute;
  top: -5px;
  z-index: 500; }

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block; }

.dropzone {
  -webkit-border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  min-height: 360px;
  padding: 23px; }

.dropzone .dz-default.dz-message {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -ms-filter: none;
  -moz-transition: opacity 0.3s ease-in-out;
  filter: none;
  left: 50%;
  margin: 0 auto;
  margin-left: -300px;
  margin-top: -60px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: opacity 0.3s ease-in-out;
  width: 600px; }

.dropzone .dz-default.dz-message span {
  color: #aaa;
  font-family: 'Ubuntu', sans-serif;
  font-size: 42px; }

.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  height: 174px;
  margin-left: -134px;
  margin-top: -87px;
  width: 268px; }

.dropzone.dz-drag-hover .dz-message {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
  opacity: 0.15; }

.dropzone.dz-started .dz-message {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: block;
  filter: alpha(opacity=0);
  opacity: 0; }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  font-size: 14px; }

.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  display: block;
  filter: alpha(opacity=10);
  opacity: 0.1; }

.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark {
  -ms-filter: none;
  filter: none;
  opacity: 1; }

.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark {
  -ms-filter: none;
  filter: none;
  opacity: 1; }

.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.4s ease-in-out;
  background-image: url("../../img/spritemap.png");
  background-repeat: no-repeat;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5 / 1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .dropzone .dz-preview .dz-error-mark,
  .dropzone-previews .dz-preview .dz-error-mark,
  .dropzone .dz-preview .dz-success-mark,
  .dropzone-previews .dz-preview .dz-success-mark {
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-image: url("../../img/spritemap@2x.png");
    background-size: 428px 406px; } }

.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span {
  display: none; }

.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px; }

.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px; }

.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-animation: loading 0.4s linear infinite;
  -o-transition: width 0.3s ease-in-out;
  -o-animation: loading 0.4s linear infinite;
  -ms-transition: width 0.3s ease-in-out;
  -ms-animation: loading 0.4s linear infinite;
  -moz-transition: width 0.3s ease-in-out;
  -moz-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  background-image: url("../../img/spritemap.png");
  background-position: 0px -400px;
  background-repeat: repeat-x;
  border-radius: 2px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s ease-in-out;
  width: 0%; }

@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5 / 1), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  .dropzone .dz-preview .dz-progress .dz-upload,
  .dropzone-previews .dz-preview .dz-progress .dz-upload {
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-image: url("../../img/spritemap@2x.png");
    background-size: 428px 406px; } }

.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.4s ease-in-out;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out; }

.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.3s ease-in-out;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  -ms-filter: none;
  filter: none;
  opacity: 1; }

.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
  -webkit-border-radius: 2px;
  background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0, #eee 100%);
  border: 1px solid #eee;
  border-radius: 2px;
  color: #aaa;
  display: block;
  margin-top: 26px;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none; }

.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover {
  color: #666; }

/*==============================================
=            Main Stacking Item CSS            =
==============================================*/
/* iframe for new project in-page */
body.darkLayout {
  background: #333;
  color: #CCC; }
  body.darkLayout h3 {
    color: white; }
  body.darkLayout input, body.darkLayout select {
    background: #444;
    border: 1px solid #222;
    color: #CCC;
    height: 40px;
    line-height: 40px;
    padding: 0 12px; }
  body.darkLayout .container {
    position: relative; }
    body.darkLayout .container .closeBtn {
      position: absolute;
      top: -30px;
      right: 0px;
      background: #444;
      color: #CCC;
      padding: 10px 20px;
      line-height: inherit;
      transition: color 0.5s, background 0.5s;
      cursor: pointer; }
      body.darkLayout .container .closeBtn:hover {
        color: white;
        background: #555; }
  body.darkLayout .tab-content {
    margin-top: 25px;
    padding: 0 20px; }
    body.darkLayout .tab-content .control-group label {
      float: none;
      text-align: left;
      padding-top: 0;
      margin-bottom: 7px; }
    body.darkLayout .tab-content .control-group .controls {
      margin-left: 0; }

.newProject_container {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0px;
  height: 100%;
  min-height: 865px;
  transition: left 0.5s, width 0.5s;
  z-index: 2000; }
  .newProject_container.active {
    width: 500px;
    left: calc(100% - 500px);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5); }

.iax-stack-item .iax-acc-button {
  color: #999;
  position: absolute;
  right: 14px;
  top: 60px; }

.iax-stack-item .iax-acc-button:hover i {
  color: #333;
  text-decoration: none; }

.iax-stack-item h4 {
  border-bottom: 1px solid rgba(226, 226, 226, 0.3);
  line-height: 28px; }

.iax-stack-item .iax-acc-box {
  background-color: #d8f5fc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 0;
  margin: 0 auto;
  margin-top: 7px;
  overflow: hidden;
  width: 95%; }

.iax-stack-item .iax-acc-box .iax-box-inner {
  padding: 7px; }

.iax-fade {
  display: none; }

/* Scroll to top control */
.iax-to-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 0;
  bottom: -45px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  height: 45px;
  opacity: 0.5;
  padding: 7px 20px;
  position: fixed;
  right: 367.5px; }

.iax-to-top:hover {
  opacity: 1;
  text-decoration: none; }

/*dropzone styles*/
.dz-preview {
  font-family: Arial, Helvetica, sans-serif;
  z-index: 20; }

.image_holder {
  height: 230px; }

.image_holder input {
  margin-top: 5px;
  margin-bottom: 5px; }

.img_update {
  float: left;
  cursor: pointer;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #e5e5e5;
  z-index: 10;
  background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0, #eee 100%); }

.img_title {
  float: left;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 4px; }

.img_msg {
  text-align: center; }

.img_desc {
  float: left;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 4px; }

.dz-remove {
  float: left;
  width: 100%; }

.dz-preview {
  width: 200px; }

/*==============================================
=            Main Stacking Item CSS            =
==============================================*/
.iax-stack-hd {
  position: relative;
  border-bottom: none;
  margin-bottom: 30px; }
  .iax-stack-hd .clientLink {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(226, 226, 226, 0.3);
    margin: 0;
    padding: 12px 20px; }
    @media screen and (max-width: 800px) {
      .iax-stack-hd .clientLink {
        position: relative;
        margin-top: 10px; } }

.campaignOptions {
  position: fixed;
  top: 41px;
  left: 0;
  width: 100%;
  padding: 0px 30px;
  background: #333;
  box-sizing: border-box;
  margin-bottom: 0px;
  color: #999;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 2px 6px transparent;
  transition: max-height 0.5s, padding 0.5s, margin 0.5s, box-shadow 0.5s;
  z-index: 1000; }
  .campaignOptions > div {
    max-width: 1170px;
    margin: 0 auto; }
  .campaignOptions p {
    display: inline-block;
    margin: 0;
    padding: 10px 0; }
  .campaignOptions.show {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 70px;
    margin-bottom: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7); }
  .campaignOptions ul {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    float: right; }
    .campaignOptions ul li {
      display: inline-block;
      margin-right: 20px;
      padding: 10px 5px;
      background: none;
      cursor: pointer; }
      .campaignOptions ul li:hover {
        background: #111; }

.iax-stack-item {
  position: relative;
  margin: 0px 0 0px;
  padding: 12px 25px 11px;
  border-radius: 0px;
  border-left: none; }
  .iax-stack-item.alt {
    background: rgba(226, 226, 226, 0.3); }
    .iax-stack-item.alt .controls a {
      opacity: 0.2; }
  .iax-stack-item.editable {
    left: 0;
    transition: padding-left 0.5s, left 0.5s; }
    .iax-stack-item.editable:hover .controls a {
      opacity: 0.5; }
    .iax-stack-item.editable input[type='checkbox'] {
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 0; }
    .iax-stack-item.editable .controls {
      position: absolute;
      top: 10px;
      right: 100px;
      margin-right: 40px;
      padding-right: 30px;
      border-right: solid 1px #CCC; }
      .iax-stack-item.editable .controls .editExpand {
        position: absolute;
        transform: translate(0, 0) scale(0);
        background: #DDD;
        border-radius: 10px;
        padding: 6px 10px;
        transition: transform 0.3s;
        transform-origin: top center; }
        .iax-stack-item.editable .controls .editExpand.show {
          transform: translate(-31%, -105%) scale(1); }
        .iax-stack-item.editable .controls .editExpand:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 12px 7.5px 0 7.5px;
          border-color: #dddddd transparent transparent transparent; }
        .iax-stack-item.editable .controls .editExpand ul {
          margin: 0;
          list-style: none; }
        .iax-stack-item.editable .controls .editExpand li {
          display: inline-block; }
          .iax-stack-item.editable .controls .editExpand li:nth-of-type(1n + 1) {
            margin-left: -4px; }
          .iax-stack-item.editable .controls .editExpand li a {
            transition: opacity 0s;
            opacity: 0.5; }
            .iax-stack-item.editable .controls .editExpand li a:hover {
              opacity: 1; }
      .iax-stack-item.editable .controls .editExpand.show ~ .iax-edit {
        opacity: 0.5; }
        .iax-stack-item.editable .controls .editExpand.show ~ .iax-edit:hover {
          background: none; }
          .iax-stack-item.editable .controls .editExpand.show ~ .iax-edit:hover svg #gray {
            fill: #58595B; }
      .iax-stack-item.editable .controls a {
        display: block;
        position: relative;
        top: 0;
        left: 0px;
        color: white;
        float: left;
        background: none;
        margin: 0;
        width: 50px;
        height: 50px;
        padding: 10px;
        text-align: center;
        opacity: 0.15;
        transition: left 0.5s, background 0.5s, opacity 0.5s;
        box-sizing: border-box;
        font-size: 0px; }
        .iax-stack-item.editable .controls a a:first-of-type {
          z-index: 4; }
        .iax-stack-item.editable .controls a a:nth-of-type(2) {
          z-index: 3; }
        .iax-stack-item.editable .controls a a:nth-of-type(3) {
          z-index: 2; }
        .iax-stack-item.editable .controls a a:nth-of-type(4) {
          z-index: 1; }
        .iax-stack-item.editable .controls a svg {
          width: 100%; }
          .iax-stack-item.editable .controls a svg #gray {
            transition: fill 0.4s; }
      .iax-stack-item.editable .controls .iax-edit:hover {
        background: #ff9501;
        opacity: 1; }
        .iax-stack-item.editable .controls .iax-edit:hover svg #gray {
          fill: white; }
      .iax-stack-item.editable .controls .iax-delete:hover {
        background: #ff3b2f;
        opacity: 1; }
        .iax-stack-item.editable .controls .iax-delete:hover svg #gray {
          fill: white; }
      .iax-stack-item.editable .controls .iax-preview:hover {
        background: #0079B7;
        opacity: 1; }
        .iax-stack-item.editable .controls .iax-preview:hover svg #gray {
          fill: white; }
      .iax-stack-item.editable .controls .iax-copy:hover {
        background: #0079B7;
        opacity: 1; }
        .iax-stack-item.editable .controls .iax-copy:hover svg #gray {
          fill: white; }
      .iax-stack-item.editable .controls .iax-traffic:hover {
        background: #6aed7f;
        opacity: 1; }
        .iax-stack-item.editable .controls .iax-traffic:hover svg #gray {
          fill: white; }
    .iax-stack-item.editable .count {
      display: block;
      position: absolute;
      right: 20px;
      top: 21px;
      background: #f5f5f5;
      padding: 10px 15px; }
    .iax-stack-item.editable.alt .count {
      background: #ededed; }
    .iax-stack-item.editable .timestamp {
      display: block;
      position: relative;
      box-sizing: border-box;
      padding: 0 20px; }
      .iax-stack-item.editable .timestamp p {
        margin: 0;
        opacity: 0.6; }
  .iax-stack-item .count {
    display: none; }
  .iax-stack-item h4 {
    border-bottom: 1px solid rgba(226, 226, 226, 0.3);
    line-height: 28px; }
  .iax-stack-item h5 {
    margin: 5px 0 0 0; }
  .iax-stack-item .iax-acc-button {
    color: #999;
    position: absolute;
    right: 14px;
    top: 60px; }
    .iax-stack-item .iax-acc-button:hover i {
      color: #333;
      text-decoration: none; }
  .iax-stack-item .iax-acc-box {
    background-color: #d8f5fc;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 0;
    margin: 0 auto;
    margin-top: 7px;
    overflow: hidden;
    width: 95%; }
    .iax-stack-item .iax-acc-box .iax-box-inner {
      padding: 7px; }
  .iax-stack-item[data-site="HGTV"]:before, .iax-stack-item[data-site="HGTV Remodels"]:before, .iax-stack-item[data-site="HGTV Gardens"]:before, .iax-stack-item[data-site="DIY Network"]:before, .iax-stack-item[data-site="Food Network"]:before, .iax-stack-item[data-site="Cooking Channel"]:before, .iax-stack-item[data-site="TravelChannel.com"]:before, .iax-stack-item[data-site="GAC"]:before, .iax-stack-item[data-site="Food.com"]:before, .iax-stack-item[data-site="Frontdoor"]:before, .iax-stack-item[data-site="uLive.com"]:before {
    content: '';
    position: relative;
    float: left;
    height: 41px;
    width: 40px;
    margin: 5px 10px 0 5px;
    background: url(../img/siteIcons.png) no-repeat;
    opacity: 0.2; }
  .iax-stack-item[data-site="HGTV"]:before, .iax-stack-item[data-site="HGTV Remodels"]:before, .iax-stack-item[data-site="HGTV Gardens"]:before {
    background-position: 0px 0px; }
  .iax-stack-item[data-site="DIY Network"]:before {
    background-position: -50px 0px; }
  .iax-stack-item[data-site="Food Network"]:before {
    background-position: -100px 0px; }
  .iax-stack-item[data-site="Cooking Channel"]:before {
    background-position: -150px 0px; }
  .iax-stack-item[data-site="TravelChannel.com"]:before {
    background-position: -200px 0px; }
  .iax-stack-item[data-site="GAC"]:before {
    background-position: -250px 0px; }
  .iax-stack-item[data-site="Food.com"]:before {
    background-position: -300px 0px; }
  .iax-stack-item[data-site="Frontdoor"]:before {
    background-position: -350px 0px; }

@media screen and (max-width: 800px) {
  .createModInfo {
    display: none; } }

.createModInfo small {
  color: #a6a6a6;
  padding-right: 14px;
  border-right: solid 1px #a6a6a6;
  margin-right: 10px; }
  .createModInfo small:last-of-type {
    padding-right: 0;
    border-right: none;
    margin-right: 0; }

.createModInfo.userHover small {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer; }
  .createModInfo.userHover small:last-of-type span.user {
    width: 100%; }
  .createModInfo.userHover small:hover span.user {
    top: 0px; }

.createModInfo.userHover span.user {
  position: absolute;
  top: 25px;
  left: 0;
  width: calc(100% - 10px);
  background: #a6a6a6;
  color: white;
  text-align: center;
  transition: top 0.5s; }

.createModInfo.projectLevel {
  position: absolute;
  right: 0;
  margin-top: -29px; }

.iax-tags {
  height: auto;
  transition: height 0.5s; }

.iax-fade {
  display: none; }

/* Scroll to top control */
.iax-to-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 0;
  bottom: -45px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  height: 45px;
  opacity: 0.5;
  padding: 7px 20px;
  position: fixed;
  right: 367.5px; }

.iax-to-top:hover {
  opacity: 1;
  text-decoration: none; }

/* Favorites */
a.iax-favorite i {
  cursor: pointer; }

.iax-image-holder {
  min-height: 25px; }

.iax-image-item img {
  margin-right: 14px; }

.iax-image-item input {
  margin: 3px 0;
  width: 300px; }

.iax-image {
  /*border: 1px solid #e2e2e2;*/
  /*padding: 14px;*/
  border-bottom: solid 1px #e2e2e2;
  padding-bottom: 10px;
  margin-bottom: 30px;
  text-align: center;
  margin: 14px auto; }
  .iax-image:last-of-type {
    border-bottom: 0;
    padding-bottom: 0; }
  .iax-image a {
    display: none; }
  .iax-image .comments {
    margin: 20px auto;
    text-align: center;
    padding: 0 20%;
    box-sizing: border-box; }
    @media screen and (max-width: 1500px) {
      .iax-image .comments {
        padding: 0 10%; } }

.module {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 40px 40px;
  background: white;
  border: solid 1px #CCC;
  box-shadow: 2px 10px 30px 10px rgba(0, 0, 0, 0.2); }
  .module .close {
    position: relative;
    margin-right: -20px;
    cursor: pointer; }
    .module .close:after {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg); }

/*
    jQuery Tags Input Plugin 1.3.3
    Copyright (c) 2011 XOXCO, Inc
    Documentation for this plugin lives here:
    http://xoxco.com/clickable/jquery-tags-input
    Licensed under the MIT license:
    http://www.opensource.org/licenses/mit-license.php
    ben@xoxco.com
*/
div.tagsinput {
  border: none;
  background: transparent;
  padding: 5px;
  width: 100% !important;
  height: 20px;
  line-height: 14px; }

div.tagsinput span.tag {
  padding: 2px 4px;
  display: block;
  float: left;
  font-size: 11.844px;
  font-weight: bold;
  margin-right: 5px;
  line-height: 14px;
  color: white;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3a87ad;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid transparent; }

div.tagsinput span.tag a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-size: 11px;
  line-height: 14px; }

div.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 0;
  background: transparent;
  color: inherit;
  outline: 0px;
  height: 20px;
  cursor: pointer; }

div.tagsinput div {
  display: block;
  float: left; }

.tags_clear {
  clear: both;
  width: 100%;
  height: 0px; }

.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important; }

div.tagsinput span.tag:hover {
  cursor: pointer; }

/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php>
*/
.uploadify {
  position: relative;
  margin-bottom: 1em; }

.uploadify-button {
  background-color: #505050;
  background-image: linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #707070));
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #808080;
  color: #FFF;
  font: bold 12px Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 100%; }

.uploadify:hover .uploadify-button {
  background-color: #606060;
  background-image: linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -o-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #606060), color-stop(1, #808080));
  background-position: center bottom; }

.uploadify-button.disabled {
  background-color: #D0D0D0;
  color: #808080; }

.uploadify-queue {
  margin-bottom: 1em; }

.uploadify-queue-item {
  background-color: #F5F5F5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 11px Verdana, Geneva, sans-serif;
  margin-top: 5px;
  max-width: 350px;
  padding: 10px; }

.uploadify-error {
  background-color: #FDE5DD !important; }

.uploadify-queue-item .cancel a {
  background: url("/public/assets/uploadify/uploadify-cancel.png") 0 0 no-repeat;
  float: right;
  height: 16px;
  text-indent: -9999px;
  width: 16px; }

.uploadify-queue-item.completed {
  background-color: #E5E5E5; }

.uploadify-progress {
  background-color: #E5E5E5;
  margin-top: 10px;
  width: 100%; }

.uploadify-progress-bar {
  background-color: #0099FF;
  height: 3px;
  width: 1px; }

/*====================================
=            General Page            =
=====================================*/
.iax-content {
  min-height: 550px;
  margin-bottom: 100px; }

/*=========================================
=            User Profile Page            =
=========================================*/
.iax-user-profile {
  margin: 0 auto; }

.iax-user-profile tr td:first-child {
  font-weight: bold; }

.iax-primary {
  font-size: 18px;
  color: #333;
  font-weight: 300;
  letter-spacing: 1; }

.iax-search-highlight {
  padding: 3px;
  font-weight: bold;
  font-style: italic; }

.iax-multi-col {
  display: block; }

.list-col {
  float: left;
  margin: 0 7px;
  width: 30%; }

.list-col li {
  list-style: none;
  /*margin-left: 14px;*/ }

.list-col-1,
.list-col-2,
.list-col-3,
.list-col-4,
.list-col-5 {
  float: left; }

/**
*
* Notifications Component
*
**/
.iax-message-box ul {
  margin-bottom: 0; }

.iax-env-msg span {
  font-size: 11px;
  margin: 11px 7px 0 0;
  font-weight: normal; }

.iax-env-msg a:hover {
  cursor: help; }

.iax-env-msg .popover-content {
  font-size: 12px;
  line-height: 14px; }

.iax-pagination {
  text-align: center; }

/**
*
* Global navbar
*
**/
/* Push content past fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 40px; }

.navbar {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7); }

.navbar .brand {
  padding: 2px 20px; }

.navbar a {
  color: #fff;
  font-weight: normal;
  z-index: 99999; }

.iax-breadcrumbs {
  background: transparent;
  font-size: 11px;
  padding: 4px; }

/* Navbar user account component */
.iax-navbar-account a i {
  color: #fff;
  text-decoration: none;
  margin-right: 3px; }

.iax-navbar-account .dropdown-menu li i {
  color: #333; }

.iax-navbar-account .dropdown-menu li:hover i {
  color: #fff; }

.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a {
  background: #333; }

.navbar-search .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.tab-pane {
  min-height: 500px; }

/**
*
* Tables
*
**/
.iax-table td {
  font-size: 12px; }

.iax-table thead tr {
  background: #e2e2e2; }

/* Table Actions */
.iax-table-actions {
  width: 90px; }

.iax-table-actions i {
  color: #333;
  padding: 3px; }

.iax-table-actions a {
  text-decoration: none; }

.iax-table-status .progress {
  height: 11px;
  position: relative;
  top: 5px;
  margin-bottom: 0; }

#iax-permissions-table tr.iax-table-section-break td {
  background: #000;
  color: #fff; }

#iax-permissions-table td.iax-right {
  text-align: right; }

/* Informartion Table Layout */
.iax-info-table {
  margin-bottom: 0; }

.iax-info-table tr td {
  border: none; }

.iax-info-table tr td {
  font-weight: bold;
  width: 160px;
  padding: 0; }

.iax-info-table tr td + td {
  font-weight: normal;
  width: auto; }

#iax-pagination {
  text-align: center; }

/**
*
* Global Form Styles
*
**/
.iax-form {
  margin: 0 auto; }

.iax-form .input-full {
  width: 100%; }

.iax-table-action {
  display: inline; }

.iax-table-action button,
.iax-table-action a {
  line-height: 1;
  background: none;
  border: none;
  color: #0088cc;
  cursor: pointer;
  outline: none; }

/**
*
* Login Form
*
**/
.iax-login-form {
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  width: 250px; }

.iax-login-form form {
  margin-bottom: 0; }

.iax-login-form .pull-left {
  line-height: 30px;
  font-size: 12px; }

.iax-new-user-form {
  margin-left: 0; }

/**
*
* New Form
*
**/
.iax-creative-detail pre.iax-code-view code {
  width: 100%;
  min-height: 200px;
  font-size: 14px; }

.iax-status-bar {
  position: relative;
  top: 3px; }

.iax-inline-form {
  margin-bottom: 0; }

.iax-inline-form input {
  width: 300px; }

.iax-inline-form input.error {
  border-color: red; }

.iax-inline-form .span4 {
  margin-left: 0; }

/**
*
* General Form Styles
*
**/
label {
  font-weight: bold;
  font-size: 16px; }

.iax-login-form .iax-form-submit-subtext {
  line-height: 1.1; }

.iax-login-form p {
  line-height: 1.2; }

select[disabled] {
  font-weight: bold; }

/**
*
* Footer
*
**/
/* Scss Document */
/* vars */
.iax-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 14px auto 0;
  background: white;
  z-index: 5000; }
  .iax-footer p {
    font-size: 12px;
    margin-bottom: 0;
    padding: 3px 0;
    text-align: center; }
  .iax-footer .brand img.logo {
    height: 34px;
    width: 52px; }
  .iax-footer .row .span12 {
    width: 100%; }
  @media screen and (max-width: 400px) {
    .iax-footer {
      display: none;
      position: relative;
      left: -20px;
      width: calc(100% + 40px); } }

/* Scss Document */
/* vars */
/* stuff mike added as overides */
/* update styling on overview tab in project edit mode */
.span12 {
  position: relative; }

.iax-form .controls select {
  transition: color 0.5s, border-color 0.5s; }

.iax-form .controls select.auto {
  color: #48b960;
  border-color: #48b960; }

#iax-form-tab {
  position: relative; }

#iax-creative-tab form.controls {
  position: relative; }

.status {
  position: absolute;
  right: 20px;
  top: 18px;
  width: 90px; }
  .status span {
    border: 1px solid #d5d5d5;
    height: 10px;
    width: calc((100% / 3) - 2px);
    float: left;
    margin: 0 1px;
    padding: 0;
    box-sizing: border-box; }
    .status span:first-of-type {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .status span:last-of-type {
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
  .status .statusText {
    margin: 0;
    width: calc(100% - 2px);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #333;
    line-height: 19px; }

#iax-client-info-tab {
  margin-top: 30px; }
  #iax-client-info-tab .halfCol {
    width: calc(50% - 20px);
    margin-right: 40px;
    margin-left: 0;
    float: left; }
    #iax-client-info-tab .halfCol:last-of-type {
      margin-right: 0; }
    #iax-client-info-tab .halfCol .span5 {
      width: 100%;
      float: none;
      margin: 0; }
      #iax-client-info-tab .halfCol .span5 .iax-form .controls select {
        width: 100%; }
      #iax-client-info-tab .halfCol .span5 .iax-form .controls input {
        width: 100%;
        box-sizing: border-box;
        height: 30px; }
  #iax-client-info-tab .projectLinks {
    padding-left: 70px;
    margin-left: 30px;
    box-sizing: border-box;
    border-left: solid 1px #e3e3e3;
    width: calc(50% - 50px); }
    #iax-client-info-tab .projectLinks span {
      display: block;
      width: 100%; }
    #iax-client-info-tab .projectLinks .well {
      position: relative;
      height: 360px;
      margin-bottom: 0; }

#iax-comp-upload-tab .options {
  position: absolute;
  right: 0;
  margin-top: -35px; }
  #iax-comp-upload-tab .options input[type='checkbox'] {
    margin-top: 0; }

#iax-comp-upload-tab .iax-image-item.hover {
  border: 3px dashed #cac9c9; }

#iax-comp-upload-tab .dropArea {
  border-radius: 3px;
  border: dashed 2px #e3e3e3;
  padding: 30px; }
  #iax-comp-upload-tab .dropArea p {
    margin-bottom: 0px; }
  #iax-comp-upload-tab .dropArea.hover {
    border: 3px dashed #cac9c9; }

#iax-comp-upload-tab .iax-image-holder ul {
  list-style: none; }

#iax-comp-upload-tab .iax-image-holder li {
  position: relative;
  border-bottom: solid 1px #e3e3e3;
  margin-bottom: 20px; }
  #iax-comp-upload-tab .iax-image-holder li .arrow {
    position: relative;
    top: -31px;
    float: right;
    width: 20px;
    height: 20px; }
    #iax-comp-upload-tab .iax-image-holder li .arrow:before {
      content: "";
      position: absolute;
      right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #e3e3e3; }
    #iax-comp-upload-tab .iax-image-holder li .arrow:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 5px;
      transform: rotate(135deg);
      width: 6px;
      height: 6px;
      border-top: solid 2px white;
      border-right: solid 2px white;
      transition: all 0.5s; }
  #iax-comp-upload-tab .iax-image-holder li:not(.active) .iax-image-item {
    max-height: 0;
    min-height: 0;
    border: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    transition: all 0.5s; }
  #iax-comp-upload-tab .iax-image-holder li.active .arrow:after {
    transform: rotate(315deg);
    top: 8px; }
  #iax-comp-upload-tab .iax-image-holder li.active .iax-image-item {
    max-height: 200px; }
  #iax-comp-upload-tab .iax-image-holder li .viewRound {
    float: right;
    position: relative;
    top: -32px;
    left: -20px; }

.iax-image-item {
  position: relative; }

.note {
  position: absolute;
  font-weight: bold;
  padding: 8px 15px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  border-radius: 4px;
  /* position options */
  /*
	&.center.center{
		left:50%;
		top:50%;
		transform:translate(-50%, -50%);
	}
	*/
  /* type options - matches IAX.Utiles.notify styles */ }
  .note.float {
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .note.float.nextToInput {
      padding-top: 4px;
      padding-bottom: 4px;
      margin-bottom: 0; }
  .note.top.left {
    left: 10px;
    top: 10px; }
  .note.top.right {
    right: 10px;
    top: 10px; }
  .note.top.center {
    left: 50%;
    top: 0;
    transform: translateX(-50%); }
  .note.center.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .note.center.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
  .note.bottom.left {
    left: 10px;
    bottom: 10px; }
  .note.bottom.right {
    right: 10px;
    bottom: 10px; }
  .note.bottom.center {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }
  .note.success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6; }
    .note.success:before {
      content: "\2713";
      margin-right: 10px; }
  .note.error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7; }

/* flat comp image page */
.iax-image {
  position: relative; }

.iax-image.dragArea img {
  padding: 0;
  border: 0px;
  transition: padding 0.3s, border 0.3s; }

.iax-image.dragArea.hover img {
  padding: 10px;
  border: 3px dashed #cac9c9; }

.notesWrap {
  position: absolute;
  top: 0;
  right: 0; }
  .notesWrap ul.notes {
    list-style: none; }
  .notesWrap a {
    display: inline-block; }

#SWFUpload_Console {
  display: none; }

.navbar {
  margin: 0; }
  .navbar .navbar-inner {
    padding: 0; }
  .navbar .container {
    position: relative;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box; }
    .navbar .container .mobileMenu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%; }
      .navbar .container .mobileMenu .icon {
        position: absolute;
        right: 10px;
        top: 8px; }
      .navbar .container .mobileMenu .account {
        display: block;
        position: absolute;
        right: 52px;
        background: #333; }
      .navbar .container .mobileMenu .mobileDropdown {
        position: absolute;
        top: 42px;
        right: 0px;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
        box-sizing: border-box;
        background: black;
        border-top: solid 1px #333; }
        .navbar .container .mobileMenu .mobileDropdown.active {
          max-height: 800px; }
        .navbar .container .mobileMenu .mobileDropdown .navbar-search {
          padding: 10px 30px;
          position: relative;
          float: none;
          width: 100%;
          box-sizing: border-box; }
          .navbar .container .mobileMenu .mobileDropdown .navbar-search input {
            width: 100%;
            box-sizing: border-box;
            height: 40px; }
        .navbar .container .mobileMenu .mobileDropdown .iax-navbar-right {
          padding: 10px 30px; }
          .navbar .container .mobileMenu .mobileDropdown .iax-navbar-right ul {
            float: none;
            margin: 0; }
          .navbar .container .mobileMenu .mobileDropdown .iax-navbar-right li {
            float: none; }
            .navbar .container .mobileMenu .mobileDropdown .iax-navbar-right li:nth-of-type(2n) {
              background: #191919; }
    .navbar .container .desktopLogo {
      width: 160px;
      margin-top: 0.2em; }
    .navbar .container .mobileLogo, .navbar .container .mobileMenu {
      display: none; }
    @media screen and (max-width: 800px) {
      .navbar .container .mobileLogo, .navbar .container .mobileMenu {
        display: block; }
      .navbar .container .desktopLogo, .navbar .container .desktopMenu {
        display: none; } }
    @media screen and (max-width: 400px) {
      .navbar .container {
        padding: 0 10px; } }

.multiPreviewContainer, .row.previews {
  position: relative;
  box-sizing: border-box;
  padding: 0px 80px;
  background: rgba(226, 226, 226, 0.3);
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  max-height: 0px;
  overflow: hidden;
  transition: margin-bottom 0.5s, max-height 1s, padding 0.5s; }
  .multiPreviewContainer.active, .row.previews.active {
    margin-bottom: 20px;
    max-height: 1000px;
    padding: 20px 80px 40px 80px; }
  .multiPreviewContainer .note, .row.previews .note {
    margin-bottom: 30px; }
  .multiPreviewContainer .halfCol, .row.previews .halfCol {
    width: calc(50% - 20px);
    box-sizing: border-box;
    float: left; }
    .multiPreviewContainer .halfCol:nth-of-type(2n), .row.previews .halfCol:nth-of-type(2n) {
      margin-left: 20px; }
  .multiPreviewContainer .fullCol, .row.previews .fullCol {
    width: 100%; }
    .multiPreviewContainer .fullCol select, .row.previews .fullCol select {
      width: calc(100% - 20px);
      float: left; }
  .multiPreviewContainer select, .multiPreviewContainer input, .row.previews select, .row.previews input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 35px; }
  .multiPreviewContainer .item, .row.previews .item {
    width: 100%;
    margin-bottom: 10px; }
    .multiPreviewContainer .item:after, .row.previews .item:after {
      content: "";
      display: table;
      clear: both; }
    .multiPreviewContainer .item .removeItem, .row.previews .item .removeItem {
      position: relative;
      top: 6px;
      left: 6px;
      float: left;
      font-size: 26px;
      color: black;
      transform: rotate(-45deg);
      cursor: pointer; }
      .multiPreviewContainer .item .removeItem:hover, .row.previews .item .removeItem:hover {
        font-weight: bold; }
  .multiPreviewContainer .addRow, .row.previews .addRow {
    margin-top: 10px; }
  .multiPreviewContainer .createPreview, .row.previews .createPreview {
    position: absolute;
    right: 77px;
    bottom: 30px; }

.row.previews {
  max-height: 80px;
  margin-bottom: 20px;
  padding: 20px 80px 40px 80px;
  transition: padding 0s, max-height 0.5s; }
  .row.previews.expand {
    max-height: 1000px; }
    .row.previews.expand .row:first-of-type {
      margin-top: 0px; }
  .row.previews h4:hover span {
    font-weight: 700; }
  .row.previews h4 span {
    font-size: 12px;
    font-weight: 400;
    padding-left: 5px;
    position: relative;
    top: -1px;
    cursor: pointer; }
  .row.previews .row {
    position: relative;
    margin-left: 0;
    padding: 20px 0;
    border-bottom: solid 1px #a6a6a6;
    overflow: hidden; }
    .row.previews .row:last-of-type {
      border-bottom: 0; }
    .row.previews .row:first-of-type {
      margin-top: 100px;
      transition: margin-top 0.5s; }
    .row.previews .row:after {
      content: "";
      display: table;
      clear: both; }
    .row.previews .row:hover .iax-preview-delete {
      right: 0; }
    .row.previews .row span.previewNum {
      position: relative;
      display: inline-block;
      height: 100%;
      float: left;
      margin-right: 15px; }
    .row.previews .row p {
      float: left;
      margin-right: 20px;
      padding-right: 20px;
      border-right: solid 1px #a6a6a6; }
      .row.previews .row p:nth-last-of-type(2) {
        border-right: 0; }
      .row.previews .row p.timestamp {
        position: absolute;
        right: 0;
        font-size: 12px;
        margin-right: 0;
        padding-right: 0;
        border-right: 0; }
    .row.previews .row .iax-preview-delete {
      position: absolute;
      top: 0;
      right: -150px;
      height: 100%;
      background: #333;
      padding: 25px;
      color: white;
      box-sizing: border-box;
      transition: right 0.5s; }

.filter {
  position: absolute;
  top: 41px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 20px 0 15px;
  overflow: hidden; }
  .filter ul {
    list-style: none;
    text-align: center;
    margin: 0; }
    .filter ul li {
      display: inline-block;
      margin: 0 10px; }
      .filter ul li:first-of-type {
        margin-left: 0px; }
      .filter ul li:last-of-type {
        opacity: 0.4; }
      .filter ul li select {
        width: 452px;
        transition: border 0.5s, color 0.5s, background-color 0.5s; }
        @media screen and (max-width: 1200px) {
          .filter ul li select {
            width: 336px; } }
        .filter ul li select.active {
          border: solid 1px rgba(0, 121, 183, 0.5);
          color: #0079B7;
          background-color: rgba(0, 121, 183, 0.15); }
      .filter ul li span {
        font-weight: bold;
        margin-right: 5px; }
    .filter ul form {
      margin: 0; }
  .filter .errors {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background: #ff3b2f;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 63px;
    transition: top 0.5s; }
    .filter .errors.active {
      top: 0px; }

.filter + h4 {
  margin-top: 90px; }

.notifyjs-corner {
  top: 42px !important;
  left: 0px !important;
  width: 100%;
  margin: 0px !important;
  z-index: 1020 !important; }
  .notifyjs-corner .notifyjs-wrapper, .notifyjs-corner .notifyjs-container {
    margin: 0 !important; }
  .notifyjs-corner .notifyjs-bootstrap-base {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px !important;
    border-radius: 0;
    background-image: none !important;
    text-align: center;
    border-bottom: solid 1px; }

.codeValidationArea {
  margin-top: 60px;
  margin-bottom: 150px; }
  .codeValidationArea div + div {
    margin-top: 60px; }

.jsValidation, .cssValidation {
  display: none;
  position: relative;
  padding-top: 40px; }
  .jsValidation:before, .cssValidation:before {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 16px; }
  .jsValidation.show, .cssValidation.show {
    display: block; }

.cssValidation:before {
  content: "CSS Validation"; }

.jsValidation:before {
  content: "Javascript Validation"; }

.validationMsg {
  position: relative;
  padding: 10px 20px 10px 40px;
  color: white; }
  .validationMsg:before {
    position: absolute;
    left: 14px;
    top: 50%;
    font-size: 18px;
    transform: translateY(-50%); }
  .validationMsg.error {
    background: #aa3131; }
    .validationMsg.error:before {
      content: "\f05a";
      font-family: FontAwesome; }
  .validationMsg.warning {
    background: #a6a6a6; }
  .validationMsg .file {
    display: block;
    font-size: 0.85em;
    opacity: 0.7; }
