/* overwrite IAX styling */
.pageContent{
    background-color: #f2f2f2;
}
h1, h2, h3, h4, h5, h6, a, p, li, span {
  font-family: "Gotham SSm", Arial;
}
ul, ol{
    margin:0;
}


/* stuff mike added to overwrite HGTV device-width styles */



body{   
    min-width: 0;
}
.container {
    max-width: 560px;
    width: auto;
}
    .breadcrumb{
        padding:0;
        margin:0;
        background:none;
        border-radius:0;
    }
    .site-breadcrumb {
        padding: 0 1rem;
        margin: 1rem 0;
    }
.container-site{
    max-width: 560px;
    overflow: hidden;
    width: auto;
}
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }   
        .col-md-28, .col-md-18 {
            width: auto;
        }
        .lead{
            margin-bottom:auto;   
        }
            .carousel-wrapper.lead, .super-lead-theme.lead {
                border-top: none!important;
            }
                /* owl slider */
                .carousel-wrapper.lead .owl-controls, .super-lead-theme.lead .owl-controls {
                    padding-top: 1rem;
                    margin-top: 0;
                    background-color: #000;
                }
                    .owl-dots{
                        height: 20px;   
                    }
                .carousel-wrapper.lead .carousel-container {
                    display: block;
                    width: 100%;
                    -webkit-tap-highlight-color: transparent;
                    position: relative;
                    z-index: 1;
                }
                    .carousel-wrapper.lead .slide, .carousel-wrapper.lead .slide-media, .super-lead-theme.lead .slide, .super-lead-theme.lead .slide-media {
                        height: 260px;
                    }
                    .carousel-wrapper.lead .slide img, .carousel-wrapper.lead .slide-media img, .super-lead-theme.lead .slide img, .super-lead-theme.lead .slide-media img {
                        width: 100%;
                    }
                    .carousel-wrapper.lead .slide-text-overlay .slide-text, .super-lead-theme.lead .slide-text-overlay .slide-text {
                        min-height: 55px;
                        padding-top: .5rem;
                        background: 0 0;
                        background: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 40%,#000 95%,#000 100%);
                        background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 40%,#000 95%,#000 100%);
                    }
                    .carousel-wrapper.lead .slide-text, .super-lead-theme.lead .slide-text {
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        top: auto;
                        padding: 0 1rem;
                    }
        .editorial-promo header .title {
            padding: 0;
        }
        .module header .title, .show-promo header .title, .whats-ontv header .title, .carousel-wrapper.lead header .title, .playlist-carousel header .title, .episode-feed header .title, .episode-tunein header .title, .editorial-promo header .title, .profile-promo header .title, .featured-hosts header .title, .super-lead-theme.lead header .title {
            display: block;
        }
        .module .title, .show-promo .title, .whats-ontv .title, .carousel-wrapper.lead .title, .playlist-carousel .title, .episode-feed .title, .episode-tunein .title, .editorial-promo .title, .profile-promo .title, .featured-hosts .title, .super-lead-theme.lead .title {
            font-size: 21px;
            line-height: 1.80952381;
            font-weight: 400;
            margin: 0;
        }
        .editorial-promo.one-column .block {
            border-top: none;
            padding: 0;
            margin-bottom: 1rem;
        }
            .editorial-promo.one-column .media img {
                height: auto;
                width: 100%;
            }
            .editorial-promo.one-column .editorial-promo-content {
                display: block;
            }
        .editorial-promo .block {
            margin-bottom: 1rem;
            padding: 0;
        }
            .editorial-promo .block .media {
                display: table-cell;
                vertical-align: top;
                padding: 0 .5rem 0 0;
                width: auto;
            }
            .editorial-promo .editorial-promo-content {
                width: 53%;
                vertical-align: middle;
                display: table-cell;
            }
                .editorial-promo .editorial-promo-content p {
                    display: none;
                }
                .one-column.editorial-promo .promo-item-title, .two-column.editorial-promo .promo-item-title, .three-column.editorial-promo .promo-item-title {
                    font-size: 14px;
                    font-weight: 700;
                    margin: 0;
                }
                .editorial-promo .promo-bullet ul, .editorial-promo .promo-bullet #global-footer .footer-list {
                    float: left;
                    font-size: 12px;
                    line-height: 1.25;
                }
        .block-list-xs-col1 .block {
            width: 100%;
        }
        .jukebox ul, .jukebox #global-footer .footer-list {
            margin-right: -.28rem;
        }
            .jukebox ul li, .jukebox #global-footer .footer-list li {
                width: 49.4%;
            }
                .jukebox ul li .toggleable, .jukebox #global-footer .footer-list li .toggleable {
                    color: #202429!important;
                    opacity: 1!important;
                    padding: .5rem 0!important;
                    position: relative!important;
                }
        .load-more {
            padding: 0;
        }
            .load-more .btn, .load-more .ipad-illustration-close, .load-more .playlist-carousel .nav-prev, .load-more .playlist-carousel .nav-next {
                width: 100%;
            }
        .from-our-sister-sites ul .block, .from-our-sister-sites #global-footer .footer-list .block {
            margin-bottom: 1.5rem;
        }
        .container-aside .module, .container-aside .show-promo, .container-aside .whats-ontv, .container-aside .carousel-wrapper.lead, .container-aside .playlist-carousel, .container-aside .episode-feed, .container-aside .episode-tunein, .container-aside .editorial-promo, .container-aside .profile-promo, .container-aside .featured-hosts, .container-aside .super-lead-theme.lead {
            padding-left: 0;
            border-left: none;
            border-top: 1px solid #f2f2f2;
        }
            .container-aside .module .title, .container-aside .show-promo .title, .container-aside .whats-ontv .title, .container-aside .carousel-wrapper.lead .title, .container-aside .playlist-carousel .title, .container-aside .episode-feed .title, .container-aside .episode-tunein .title, .container-aside .editorial-promo .title, .container-aside .profile-promo .title, .container-aside .featured-hosts .title, .container-aside .super-lead-theme.lead .title {
                font-size: 21px;
                line-height: 1.38095238;
            }
            .rightRail .whats-ontv .media {
                margin-right: .71rem;
                width: 45%!important;
            }
            .show-promo .block {
                width: 50%;
            }
            .profile-promo .media img {
                width: 84px;
            }
            .profile-promo .text h4 {
                font-size: 16px;
                line-height: 1.8125;
            }
            .bullet-list li {
                font-size: 14px;
            }


            


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28 {
  float: none;
}
.col-md-10 {
  width: auto;
}

/* sub pages */
.banner-block{
    color: #202429;
}
.banner-block.default {
    width: auto;
}
    .banner-block .banner-container {
        padding: 2rem 1rem 1rem 1rem;
    }
        .banner-block .banner-container .banner-content {
            width: auto;
            padding: 0;
            overflow: visible;
            /*min-height: 100%;*/
        }
            .banner-block .banner-metadata {
                position: relative;
                float: none;
            }
                .banner-block .title {
                    font-size: 26px;
                    text-shadow: none;
                    font-weight: 300;
                    margin-bottom: 1rem;
                    padding-right: 1.5rem;
                    position: relative;
                    bottom: 0;
                }
                    .banner-block .title .icon {
                        font-size: 32px;
                        position: absolute;
                        top: -.3rem;
                        right: 0;
                    }
            .banner-block .banner-info {
                position: relative;
                text-align: left;
                float: none;
            }
                .banner-block .banner-info .label {
                    font-weight: 400;
                    float: none;
                    display: inline-block;
                    margin-bottom: .5rem;
                    font-size: 14px;
                    line-height: 1;
                    line-height: 2.6;
                    padding: .71rem .5rem .71rem;
                    padding-top: 0;
                    padding-bottom: 0;
                }
                    .banner-block .label-inverse {
                        border: 1px solid #fff;
                    }
                    .banner-block .label-default {
                        color: #202429;
                        background-color: transparent;
                        border: 1px solid #202429;
                    }
