body{
    min-width:inherit;
}
.area{
    width: 320px;
}
.area[data-sni-area='content'], .footer.parbase{
    display:none;
}
.site-container {
    max-width: 560px;
    width: auto;
    border: none;
}
    .layout-banner-row {
        margin-left: 0;
        margin-right: 0;
    }
        .layout-superlead-container {
            margin-left: -14px;
            margin-right: -14px;
        }
            .layout-superlead-container .owl-stage{
                width:4400px !important; 
            }
                .layout-superlead-container .owl-item{
                    width:292px !important;
                }
            .superlead-wrapper-3up .superlead-inner, .superlead-wrapper-3up .lead-inner {
                height: auto;
            }
                .superlead-img-3up {
                  height: auto;
                }
                .blockphoto-textoverlay .text, .blockphoto-textoverlay-primary .text, .blockphoto-textoverlay-secondary .text, .jukebox-itemOverlay-text, .photoCollage-image-text, .superlead-itemOverlay-text, .mediastrip-itemOverlay-text, .carouselpromo-itemOverlay-text, .videoplaylist-itemOverlay-text, .lead-itemOverlay-text {
                    pointer-events: none;
                }
                .blockphoto-textoverlay-primary-title, .superlead-itemOverlay-title, .lead-itemOverlay-title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
    .site-container-inner, .layout-footer-container {
        max-width: 560px;
        width: auto;
        padding: 14px;
    }
        .layout-contentwell-container {
            width: 100%;
        }
            .header-default-title, .header-small-title, .jukebox-header-title, .episodeFeed-header-title, .aboutshow-title, .whatsOnTV-header-title, .mediastrip-header-title, .carouselpromo-header-title, .videoplaylist-header-title, .blogPromo-header-title, .featuredExperts-header-title {
                display: inline;
            }
            .jukebox-item, .jukebox-itemOverlay, .mediastrip-item, .mediastrip-itemOverlay, .carouselpromo-item, .videoplaylist-item, .mediastrip-itemOverlay, .carouselpromo-itemOverlay, .videoplaylist-itemOverlay, .videoplaylist-itemOverlay {
                position: relative;
                float: left;
                width: 50%;
                min-height: 1px;
                padding-left: .15625rem;
                padding-right: .15625rem;
                padding: 0;
                padding-left: .3125rem;
                margin-left: 0;
                display: inline-block;
                vertical-align: top;
            }
                .jukebox-img {
                    height: auto;
                    width: 100%;
                }
            .blockphoto-textbottom .text, .jukebox-item-text, .mediastrip-item-text, .carouselpromo-item-text, .videoplaylist-item-text, .videoPlaylistEmbed .slide .block .slide-text {
                padding-right: 0;
            }
            .jukebox-item{
                width:50% !important;   
            }
        .home_leftcontent .carouselpromo-wrapper .carouselpromo-inner.owl-carousel {
            margin-left: 0;
        }
        .carouselpromo-inner {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        } 
            .carouselpromo-inner .owl-stage{
                width:2684px !important;
                padding-left:0px;
                padding-right:40px;
            }
                .home_leftcontent .carouselpromo-wrapper .owl-carousel .owl-item {
                    width: 115px !important;
                }
                    .profile-img {
                        width: 95%;
                    }
                .carouselpromo-inner .owl-prev, .carouselpromo-inner .owl-next{
                    display:none !important;   
                }
    [data-grid-columns="1"] .jukebox-item, [data-grid-columns="1"] .mediastrip-item, [data-grid-columns="1"] .mediastrip-itemOverlay, [data-grid-columns="1"] .carouselpromo-item, [data-grid-columns="1"] .carouselpromo-itemOverlay {
          position: relative;
          float: left;
          width: 100%;
          min-height: 1px;
          padding-left: .29rem;
          padding-right: .29rem;
    }
        .mediastrip-img {
            height: auto;
            width:100%;
        }
    /*.footer.parbase{
        display:block;   
    }*/
    #tc-footer {
        background-color: #303030;
        height: auto;
        margin-top: 0;
    }
        .footer-family-row {
            display: none;
        }
            .footer-family-row li {
                margin-bottom: 0;
            }
        .footer-join-row {
            display: block;
            font-size: 18px;
            line-height: 1.44444444;
            max-height: none;
            height: 50px;
            border-bottom: 1px solid #5b5b5b;
        }
        .footer-sitesni {
            padding-right: 0;
        }
            .footer-site-row ul {
                margin-bottom: 0;
            }

header {
    position: relative;
}

.layout-rightrail-container{
    display: block;
    width: 100%;
    float: none;
    margin-left: 0;
}
.rightrail-wrapper .whatsOnTv {
    display: none;
}
.container {
    max-width: 560px;
    width: auto;
}
#tc-footer {
    background-color: #303030;
    height: auto;
    margin-top: 0;
}
    .footer-family-row {
        display: none;
    }
    .footer-join-row {
        display: block;
        font-size: 18px;
        line-height: 1.44444444;
        max-height: none;
        height: 50px;
        border-bottom: 1px solid #5b5b5b;
    }
        .footer-join-top[data-sni-module="footer"]{
            float: right;
            width: 56px;
        }
    .footer-sitesni {
        padding-right: 0;
    }
        .footer-site-row ul {
            margin-bottom: 0;
        }
        .footer-sitelinks {
            display: none;
        }
        .footer-site-scripps {
            display: none;
        }
        .footer-sitelinks-mob {
            padding: .875rem 0 0 0;
            display: inline-block;
            font-size: 16px;
            line-height: 1.5;
            max-height: none;
            text-align: center;
        }
            .footer-sitelinks-mob a {
                color: #ccc;
            }
        .footer-site-rights {
            font-size: 12px;
            text-align: center;
            width: 100%;
            background-color: #5b5b5b;
            height: 24px;
            color: #ccc;
            padding-top: .3125rem;
        }

@media all and (max-width: 600px){
    .area[data-sni-area='content']{
        width:100%;   
    }
    .layout-superlead-container .owl-stage{
        width:calc(100% * 13) !important; 
    }
        .layout-superlead-container .owl-item{
            width:calc(100% / 13) !important;
        }
}