/**
*
* Footer
*
**/

@import '../vars';

.iax-footer { 
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 14px auto 0; 
	background:white;
	z-index:5000;
	p {
		font-size: 12px;
        margin-bottom:0;
        padding: 3px 0;
        text-align: center;
	}
	.brand img.logo { height: 34px; width: 52px; }
	.row .span12{
		width:100%;	
	}
	
	@include query(400px){
		display:none;
		position: relative;
		left: -20px;
		width: calc(100% + 40px);	
	}
}

