/**
*
* Notifications Component
*
**/
.iax-message-box ul {margin-bottom: 0;}
.iax-env-msg span {font-size: 11px;margin: 11px 7px 0 0;font-weight: normal;}
.iax-env-msg a:hover {cursor: help;}
.iax-env-msg .popover-content {font-size: 12px;line-height: 14px;}