/*====================================
=            General Page            =
=====================================*/
.iax-content {
	min-height: 550px;
	margin-bottom:100px;
}



/*=========================================
=            User Profile Page            =
=========================================*/
.iax-user-profile {
    margin: 0 auto;
}
.iax-user-profile tr td:first-child{
    font-weight: bold;
}