/**
*
* Tables
*
**/
.iax-table { }
.iax-table td { font-size: 12px; }
.iax-table thead tr {
	background: #e2e2e2;
}
/* Table Actions */
.iax-table-actions { width: 90px; }
.iax-table-actions i { color: #333; padding: 3px; }
.iax-table-actions a { text-decoration: none; }

.iax-table-status .progress {
    height: 11px;
    position: relative;
    top: 5px;
    margin-bottom: 0;
}

#iax-permissions-table tr.iax-table-section-break td{
	background: #000;
	color: #fff;
}

#iax-permissions-table td.iax-right {
	text-align: right;
}

/* Informartion Table Layout */
.iax-info-table {
	margin-bottom: 0;
}

.iax-info-table tr td {
	border: none;
}
.iax-info-table tr td {
	font-weight: bold;
	width: 160px;
	padding: 0;
}
.iax-info-table tr td + td {
	font-weight: normal;
	width: auto;
}
#iax-pagination {
    text-align: center;
}