/**
*
* Footer
*
**/
.iax-footer { border-top: 1px solid #ccc; margin: 14px auto 0; }
.iax-footer p { font-size: 12px; padding: 7px 0; text-align: center; }
.iax-footer .brand img.logo { height: 34px; width: 52px; }

.iax-footer {position: relative;}
/*.iax-footer .iax-env {position: absolute;right: 0;}*/
