/**
*
* Global Form Styles
*
**/
.iax-form {
  margin: 0 auto;
}
.iax-form .input-full {width: 100%;}

.iax-table-action {
  display: inline;
}
.iax-table-action button ,
.iax-table-action a {
  line-height: 1;
  background: none;
  border: none;
  color: #0088cc;
  cursor: pointer;
  outline: none;
}

/**
*
* Login Form
*
**/
.iax-login-form  {
  padding: 10px;
  background: #fff;
  margin: 0 auto;
  width: 250px;
}
.iax-login-form form {
  margin-bottom: 0;
}
.iax-login-form .pull-left {line-height: 30px;font-size: 12px;}

.iax-new-user-form {
  margin-left: 0;
}


/**
*
* New Form
*
**/
.iax-creative-detail pre.iax-code-view code {
  width: 100%;
  min-height: 200px;
  font-size: 14px;
}
.iax-status-bar {
  position: relative;
  top: 3px;
}

.iax-inline-form {
  margin-bottom: 0;
}
.iax-inline-form input {width:300px;}
.iax-inline-form input.error {border-color:red;}
.iax-inline-form .span4 {margin-left: 0;}
/**
*
* General Form Styles
*
**/
label {font-weight: bold;font-size: 16px;}

.iax-login-form .iax-form-submit-subtext {
  line-height: 1.1;
}

.iax-login-form p {
  line-height: 1.2;
}

select[disabled]{
  font-weight: bold;
}