/**
*
* Global navbar
*
**/
/* Push content past fixed navbar */
body {padding-top: 50px;padding-bottom: 40px;}

.navbar {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
.navbar .brand { padding: 2px 20px; }
.navbar a {
  color: #fff;
  font-weight: normal;
  z-index:99999;
}

.iax-breadcrumbs {
  background: transparent;
  font-size: 11px;
  padding:4px;
}

/* Navbar user account component */
.iax-navbar-account a i{color: #fff;text-decoration: none;margin-right: 3px;}
.iax-navbar-account .dropdown-menu li i{color: #333;}
.iax-navbar-account .dropdown-menu li:hover i{color: #fff;}
.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus,
.navbar .dropdown-submenu:hover>a,
.navbar .dropdown-submenu:focus>a {
  background: #333;
}

.navbar-search .search-query {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.tab-pane {min-height: 500px;}