/*====================================
=            General Page            =
=====================================*/
.iax-content {
	min-height: 550px;
}



/*=========================================
=            User Profile Page            =
=========================================*/
.iax-user-profile {
    margin: 0 auto;
}
.iax-user-profile tr td:first-child{
    font-weight: bold;
}