.iax-lead {

}

.iax-primary {
	font-size: 18px;
	color: #333;
	font-weight: 300;
	letter-spacing: 1;
}

.iax-search-highlight {
	padding: 3px;
	font-weight: bold;
	font-style: italic;
}

.iax-multi-col {
	display: block;
}

.list-col {
	float: left;
	margin: 0 7px;
	width: 30%;

}
.list-col li {
	list-style: none;
	/*margin-left: 14px;*/
}

.list-col-1,
.list-col-2,
.list-col-3,
.list-col-4,
.list-col-5 {
	float: left;
}