/* AJAX Loading*/
.iax-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}
.iax-loading-overlay {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
}
.iax-loading-content {
  position: absolute;
  top:50%;
  left:50%;
  margin-top: -50px;
  z-index: 1001;
  color: #fff;
}
.iax-loading i {
}
.iax-loading p {
  font-size: 20px;
}




.iax-editor-lock { float: right; height: 16px; width: 16px; }
.iax-code-wrap {
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-border-radius: 4px;
  -o-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 7px;
  transition: border linear .2s, box-shadow linear .2s;
}

.iax-code-wrap .CodeMirror-wrap.locked { background-color: #f9f9f9; }
.iax-code-wrap .CodeMirror-wrap.locked:hover { cursor: not-allowed; }
.iax-code-wrap .CodeMirror-wrap.locked pre { opacity: .75; }

.iax-editor-controls {
  color: #999;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}
.iax-editor-controls .btn { height: 16px; margin-right: 4px; width: 16px; }
.iax-editor-msg {
  color: #aaa;
  font-size: 12px;
  margin-right: 7px;
  text-align: center;
}
/*.iax-editor-msg.info {color:#0088cc; }*/
/*.iax-editor-msg.danger {color:#942a25; }*/
/*.iax-editor-msg.success {color:#408140; }*/


/*Dropzone*/
/* The MIT License */
.dropzone,
.dropzone *,
.dropzone-previews,
.dropzone-previews * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.dropzone {
  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.08);
  padding: 1em;
  position: relative;
}
.dropzone.dz-clickable { cursor: pointer; }
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message span { cursor: pointer; }
.dropzone.dz-clickable * { cursor: default; }
.dropzone .dz-message { -ms-filter: none; filter: none; opacity: 1; }
.dropzone.dz-drag-hover { background: rgba(0,0,0,0.04); border-color: rgba(0,0,0,0.15); }

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  background: rgba(255,255,255,0.8);
  border: 1px solid #acacac;
  display: inline-block;
  margin: 17px;
  padding: 6px 6px 6px 6px;
  position: relative;
  vertical-align: top;
}
.dropzone .dz-preview.dz-file-preview [data-dz-thumbnail],
.dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] { display: none; }
.dropzone .dz-preview .dz-details,
.dropzone-previews .dz-preview .dz-details {
  background: #ebebeb;
  height: 100px;
  margin-bottom: 22px;
  padding: 5px;
  position: relative;
  width: 100px;
}
.dropzone .dz-preview .dz-details .dz-filename,
.dropzone-previews .dz-preview .dz-details .dz-filename { height: 100%; overflow: hidden; }
.dropzone .dz-preview .dz-details img,
.dropzone-previews .dz-preview .dz-details img {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}
.dropzone .dz-preview .dz-details .dz-size,
.dropzone-previews .dz-preview .dz-details .dz-size {
  bottom: -28px;
  height: 28px;
  left: 3px;
  line-height: 28px;
  position: absolute;
}
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark { display: block; }
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark { display: block; }
.dropzone .dz-preview:hover .dz-details img,
.dropzone-previews .dz-preview:hover .dz-details img { display: none; }
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark,
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  font-size: 30px;
  height: 40px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 40px;
}
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark { color: #8cc657; }
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark { color: #ee162d; }
.dropzone .dz-preview .dz-progress,
.dropzone-previews .dz-preview .dz-progress {
  background: #d7d7d7;
  display: none;
  height: 6px;
  left: 6px;
  position: absolute;
  right: 6px;
  top: 100px;
}
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  background-color: #8cc657;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
}
.dropzone .dz-preview.dz-processing .dz-progress,
.dropzone-previews .dz-preview.dz-processing .dz-progress { display: block; }
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  background: rgba(245,245,245,0.8);
  color: #800;
  display: none;
  left: -20px;
  max-width: 500px;
  min-width: 140px;
  padding: 8px 10px;
  position: absolute;
  top: -5px;
  z-index: 500;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message { display: block; }
.dropzone {
  -webkit-border-radius: 3px;
  background: rgba(0,0,0,0.03);
  border: 1px solid rgba(0,0,0,0.03);
  border-radius: 3px;
  min-height: 360px;
  padding: 23px;
}
.dropzone .dz-default.dz-message {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -ms-filter: none;
  -moz-transition: opacity 0.3s ease-in-out;
  filter: none;
  left: 50%;
  margin: 0 auto;
  margin-left: -300px;
  margin-top: -60px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: opacity 0.3s ease-in-out;
  width: 600px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-default.dz-message { }
}
.dropzone .dz-default.dz-message span { color: #aaa; font-family: 'Ubuntu', sans-serif; font-size: 42px; }
.dropzone.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  height: 174px;
  margin-left: -134px;
  margin-top: -87px;
  width: 268px;
}
.dropzone.dz-drag-hover .dz-message { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)"; filter: alpha(opacity=15); opacity: 0.15; }
.dropzone.dz-started .dz-message {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
}
.dropzone .dz-preview,
.dropzone-previews .dz-preview { -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.16); box-shadow: 1px 1px 4px rgba(0,0,0,0.16); font-size: 14px; }
.dropzone .dz-preview.dz-image-preview:hover .dz-details img,
.dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  display: block;
  filter: alpha(opacity=10);
  opacity: 0.1;
}
.dropzone .dz-preview.dz-success .dz-success-mark,
.dropzone-previews .dz-preview.dz-success .dz-success-mark { -ms-filter: none; filter: none; opacity: 1; }
.dropzone .dz-preview.dz-error .dz-error-mark,
.dropzone-previews .dz-preview.dz-error .dz-error-mark { -ms-filter: none; filter: none; opacity: 1; }
.dropzone .dz-preview.dz-error .dz-progress .dz-upload,
.dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload { background: #ee1e2d; }
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark {
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.4s ease-in-out;
  background-image: url("../../img/spritemap.png");
  background-repeat: no-repeat;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-preview .dz-error-mark,
  .dropzone-previews .dz-preview .dz-error-mark,
  .dropzone .dz-preview .dz-success-mark,
  .dropzone-previews .dz-preview .dz-success-mark {
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-image: url("../../img/spritemap@2x.png");
    background-size: 428px 406px;
  }
}
.dropzone .dz-preview .dz-error-mark span,
.dropzone-previews .dz-preview .dz-error-mark span,
.dropzone .dz-preview .dz-success-mark span,
.dropzone-previews .dz-preview .dz-success-mark span { display: none; }
.dropzone .dz-preview .dz-error-mark,
.dropzone-previews .dz-preview .dz-error-mark { background-position: -268px -123px; }
.dropzone .dz-preview .dz-success-mark,
.dropzone-previews .dz-preview .dz-success-mark { background-position: -268px -163px; }
.dropzone .dz-preview .dz-progress .dz-upload,
.dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  -webkit-animation: loading 0.4s linear infinite;
  -o-transition: width 0.3s ease-in-out;
  -o-animation: loading 0.4s linear infinite;
  -ms-transition: width 0.3s ease-in-out;
  -ms-animation: loading 0.4s linear infinite;
  -moz-transition: width 0.3s ease-in-out;
  -moz-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  background-image: url("../../img/spritemap.png");
  background-position: 0px -400px;
  background-repeat: repeat-x;
  border-radius: 2px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s ease-in-out;
  width: 0%;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  .dropzone .dz-preview .dz-progress .dz-upload,
  .dropzone-previews .dz-preview .dz-progress .dz-upload {
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-image: url("../../img/spritemap@2x.png");
    background-size: 428px 406px;
  }
}
.dropzone .dz-preview.dz-success .dz-progress,
.dropzone-previews .dz-preview.dz-success .dz-progress {
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.4s ease-in-out;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.dropzone .dz-preview .dz-error-message,
.dropzone-previews .dz-preview .dz-error-message {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-transition: opacity 0.3s ease-in-out;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.dropzone .dz-preview:hover.dz-error .dz-error-message,
.dropzone-previews .dz-preview:hover.dz-error .dz-error-message { -ms-filter: none; filter: none; opacity: 1; }
.dropzone a.dz-remove,
.dropzone-previews a.dz-remove {
  -webkit-border-radius: 2px;
  background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #eee));
  background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
  background-image: linear-gradient(top, #fafafa 0, #eee 100%);
  border: 1px solid #eee;
  border-radius: 2px;
  color: #aaa;
  display: block;
  margin-top: 26px;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
}
.dropzone a.dz-remove:hover,
.dropzone-previews a.dz-remove:hover { color: #666; }

/*==============================================
=            Main Stacking Item CSS            =
==============================================*/
.iax-stack-hd { border-bottom: 1px solid rgba(226, 226, 226, 0.3); }
.iax-stack-item { margin: 7px 0 14px; position: relative; padding: 7px;border-radius: 2px;}
.iax-stack-item.alt { background: rgba(226, 226, 226, 0.3); }
.iax-stack-item h5 { margin: 0;}


.iax-stack-item .iax-acc-button {
  color: #999;
  position: absolute;
  right: 14px;
  top: 60px;
}
.iax-stack-item .iax-acc-button:hover i { color: #333; text-decoration: none; }

.iax-stack-item h4 { border-bottom: 1px solid rgba(226, 226, 226, 0.3); line-height: 28px; }
.iax-stack-item .iax-acc-box {
  background-color: #d8f5fc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 0;
  margin: 0 auto;
  margin-top: 7px;
  overflow: hidden;
  width: 95%;
}
.iax-stack-item .iax-acc-box .iax-box-inner { padding: 7px; }

.iax-advertisers h4 { }
.iax-fade { display: none; }

/* Scroll to top control */
.iax-to-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 0;
  bottom: -45px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  height: 45px;
  opacity: 0.5;
  padding: 7px 20px;
  position: fixed;
  right: 367.5px;
}
.iax-to-top:hover { opacity: 1; text-decoration: none; }

/*dropzone styles*/

.dz-preview{
	font-family:Arial, Helvetica, sans-serif;
	z-index:20;
}

.image_holder{
	height:230px;
}

.image_holder input{
	margin-top:5px;
	margin-bottom:5px;
}

.img_update{
	float:left;
	cursor:pointer;
	width:100%;
	border:1px solid #CCCCCC;
	border-radius:6px;
	margin-bottom:10px;
	padding:5px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	background:#e5e5e5;
	z-index:10;
	background-image: -webkit-linear-gradient(top, #fafafa 0, #eee 100%);
background-image: -moz-linear-gradient(top, #fafafa 0, #eee 100%);
background-image: -o-linear-gradient(top, #fafafa 0, #eee 100%);
background-image: -ms-linear-gradient(top, #fafafa 0, #eee 100%);
background-image: linear-gradient(top, #fafafa 0, #eee 100%);
}

.img_title{
	float:left;
	width:100%;
	border:1px solid #CCCCCC;
	border-radius:6px;
	margin-bottom:10px;
	padding:4px;
}

.img_msg{
	text-align:center;
}

.img_desc{
	float:left;
	width:100%;
	border:1px solid #CCCCCC;
	border-radius:6px;
	margin-bottom:10px;
	padding:4px;
}

.dz-remove{
	float:left;
	width:100%;
}

.dz-preview{
	width:200px;
}



/*==============================================
=            Main Stacking Item CSS            =
==============================================*/
.iax-stack-hd { border-bottom: 1px solid rgba(226, 226, 226, 0.3); }
.iax-stack-item { margin: 7px 0 14px; position: relative; padding: 7px;border-radius: 2px;}
.iax-stack-item:hover { background: rgba(226, 226, 226, 0.3); }
.iax-stack-item h5 { margin: 0;}


.iax-stack-item .iax-acc-button {
  color: #999;
  position: absolute;
  right: 14px;
  top: 60px;
}
.iax-stack-item .iax-acc-button:hover i { color: #333; text-decoration: none; }

.iax-stack-item h4 { border-bottom: 1px solid rgba(226, 226, 226, 0.3); line-height: 28px; }
.iax-stack-item .iax-acc-box {
  background-color: #d8f5fc;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 0;
  margin: 0 auto;
  margin-top: 7px;
  overflow: hidden;
  width: 95%;
}
.iax-stack-item .iax-acc-box .iax-box-inner { padding: 7px; }

.iax-advertisers h4 { }
.iax-fade { display: none; }

/* Scroll to top control */
.iax-to-top {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #333;
  border-bottom: none;
  border-radius: 0;
  bottom: -45px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline;
  font-size: 30px;
  height: 45px;
  opacity: 0.5;
  padding: 7px 20px;
  position: fixed;
  right: 367.5px;
}
.iax-to-top:hover { opacity: 1; text-decoration: none; }

/* Favorites */
a.iax-favorite i {
  cursor: pointer;
}

.iax-image-holder {
  min-height: 25px;
}

.iax-image-item img {
  margin-right: 14px;
}
.iax-image-item input {
  margin: 3px 0;
  width: 300px;
}

.iax-image {
  /*border: 1px solid #e2e2e2;*/
  /*padding: 14px;*/
  text-align: center;
  margin: 14px auto;
}
	.iax-image a{
		display:none;	
	}